/*ESTILOS GENERALES*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}


h1{
  text-align: center;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 



/*NAVBAR*/

nav{
    display: flex;
    width: 80vw;
    justify-content: flex-end;
    padding: 1rem;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    padding: 25px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left h2 {
  margin: 0;
  padding: -10 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right h4 {
  margin: 0 10px;
}

.navbar-right button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}




/*FOOTER*/

footer {
  margin-top: 80px;
}

footer > img{
  width: 200px;
  margin: 0;
}


.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  background-color: #9a949494;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-left img {
  height: 40px;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-right img {
  height: 30px;
  margin-left: 10px;
}


/*FORM*/
form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 224px;
  margin: 0 auto;
  align-items: flex-start;
}

/*CARD*/
.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}


.card:hover{
  border: 0.px solid rgb(80, 3, 98);
  transition: 0.2s;
  transform: scale(1.1);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 80vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}


/*DETALLE DENTISTA*/
table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



.redes{
  height: 20px;


}


.DHlogo{
  height: 20px;
}




/*DARK MODE*/


.dark{
  background-color: #797979c0;
  color: white;
}

.dark nav, .dark footer{
  background-color: #080404e1;
  width:auto;

}

.dark nav a, .dark nav button{
  color: white;
}

.dark a:hover, .dark nav button:hover{
  color: rgb(0, 0, 0);
}


.dark .card{
  border: 0.5px solid rgb(246, 246, 246);
  background-color: #49494999;
}

.dark .favButton{
  background-color: rgba(61, 60, 60, 0.64);
  border-radius: 80px;
}


.dark table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  background-color: rgb(34, 34, 34);

}

.dark td, .dark th, .dark input {
border: 1px solid #000000;
text-align: left;
padding: 8px;
}


.dark form button{
  background-color: rgba(17, 8, 8, 0.707);
  color: white;
  font-weight: bold;
  border-radius: 90px;
}




/* LIGHT MODE */
.light {
  background-color: #ffffff;
  color: black;
  height: 100%;
}

.light nav,
.light footer {
  background-color: #f0f0f0;
  width:auto;
}

.light .card {
  border: 0.5px solid rgb(58, 21, 21);
  background-color: #f8e4e482;
}

.light .favButton {
  background-color: rgba(9, 67, 106, 0.622);
}


.light table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  background-color: #ce848455;
}

.light td,
.light th,
.light input {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

.light tr:nth-child(even) {
  background-color: #f5f5f5;
}

.light .card:hover,
.light .contact form input:hover,
.light .contact form button:hover {
  border: 0.5px solid rgb(136, 13, 13);
  
}

.light form button {
  background-color: rgba(194, 194, 194, 0.438);
  color: black;
  font-weight: bold;
}
